/* #salamId {
  color: blue;
}
.salam {
  color: red;
}
p {
  color: orange;
} */
/* p {
  margin-left: 200px;
}
span {
  margin-left: 200px;
}
h2 {
  margin-left: 200px;
}

h4 {
  margin-left: 200px;
} */
