* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  border: 1px solid red;
  &__left {
  }
  &__right {
    a {
      color: red;
      text-decoration: none;
    }
  }
  &__middle {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 20px;
      li {
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
